:root {
    /* COLORS */

    /* Primary */
    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);

    /* Neutral */
    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);  /*(with 75% opacity for lightbox background)*/


    /* Fonts */
    --ff-base: 'Kumbh Sans', sans-serif;
    --fw-400: 400;
    --fw-700: 700;

    /* Step -2: 11.11px → 11.52px */
    --step--2: clamp(0.6944rem, 0.6854rem + 0.0385vw, 0.72rem);
    /* Step -1: 13.33px → 14.40px */
    --step--1: clamp(0.8331rem, 0.8096rem + 0.1005vw, 0.9rem);

    /* Step 0: 16.00px → 18.00px */
    --step-0: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);

    /* Step 1: 19.20px → 22.50px */
    --step-1: clamp(1.2rem, 1.1274rem + 0.3099vw, 1.4063rem);
    /* Step 2: 23.04px → 28.13px */
    --step-2: clamp(1.44rem, 1.328rem + 0.4779vw, 1.7581rem);
    /* Step 3: 27.65px → 35.16px */
    --step-3: clamp(1.7281rem, 1.5629rem + 0.7052vw, 2.1975rem);

    /* Custom pairs */
    --space-2xs-m: clamp(0.5rem, -0.3171rem + 3.4862vw, 1.6875rem);
}


/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* General stying */

body {
    font-family: var(--ff-base);
    font-weight: var(--fw-400);
    font-size: var(--step-0);
    color: var(--Dark-grayish-blue);
}

.wrapper {
    /*outline: 2px dotted pink;
    outline-offset: -2px;*/
    /*max-width: min(100% - 2rem, 90rem);*/
    max-width: min(100% - 2rem, 63rem);
    margin-inline: auto;
}

.flow-content > * + * {
    margin-block-start: var(--spacer, 1em);
}

.main-wrapper {
    max-width: min(100%, 57.5rem);
    margin-inline: auto;
}

.svg-btn {
    padding: .3rem;
    background: none;
    border: 0;
    display: grid;
    place-content: center;
    cursor: pointer;
}


/* Header */

header {
    padding-block-start: 1.3rem;
    padding-block-end: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    margin-right: auto;
}

.cart {
    padding: 0;
}

.user {
    max-width: 1.5rem;
}

.menu-btn {
    margin-top: .2rem;
}

.menu {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 64%;
    background-color: var(--White);

    padding: 1.5rem;
}

.menu ul {
    display: inline-block;
    margin-top: 2rem;
    padding: 0;
    display: grid;
    /*gap: .3rem;*/
}

.menu li {
    padding-block: .5em;
}

.menu a {
    font-weight: var(--fw-700);
    text-decoration: none;
    color: var(--Black);
}

.menu a:focus,
.menu a:hover {
    opacity: .5;
}

.backdrop {
    display: none;
    position: absolute;
    inset: 0;
    background-color: var(--Black);
    opacity: .4;
}



/* product */

.product {
    gap: 4rem;
}

.product img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product-slide  {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.product-slide__showoff {
    /*outline: 2px dotted blue;
    outline-offset: -2px;*/
    height: 18rem;
    background-color: orangered;
    position: relative;
    overflow: hidden;
}

.previus-btn,
.next-btn {
    content: '';
    width: 2.5rem;
    aspect-ratio: 1;
    background-color: var(--White);
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: absolute;
}

.previus-btn {
    top: 50%;
    left: .5rem;
    transform: translatey(-50%);
}

.next-btn {
    top: 50%;
    right: .5rem;
    transform: translatey(-50%);
}

.product-slide__tiles {
    display: none;
}

.product-content__company,
.product-content__title,
.priceInfo__newPrice,
.priceInfo__oldPrice,
.priceInfo__descount,
.commands__add,
.count-value {
    font-weight: var(--fw-700);
}

.product-content {
    padding: 1.3rem 1.5rem 0;
}

.product-content__company {
    font-size: var(--step--1);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--Orange);
}

.product-content__title {
    --spacer: .5em;
    font-size: var(--step-3);
    color: var(--Black);
    line-height: 1.2;
}

.product-content__priceInfo {
    /*outline: 2px dotted pink;*/
    display: flex;
    align-items: center;
    gap: .8rem;
}

.priceInfo__newPrice {
    font-size: var(--step-2);
    color: var(--Black);
}

.priceInfo__current {
    display: flex;
    align-items: center;
    gap: .7rem;
}

.priceInfo__descount {
    padding: .01em .35em;
    color: var(--Orange);
    background-color: var(--Pale-orange);
    border-radius: 3px;
}

.priceInfo__oldPrice {
    margin-left: auto;
    opacity: .5;
    text-decoration: line-through;
}


.product-content__commands {
    /*outline: 2px dotted pink;*/
    --radius: 9px;
    display: grid;
    gap: 1rem;
}

.commands__count {
    padding-block: .8rem;
    background-color: var(--Light-grayish-blue);
    border-radius: var(--radius);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.commands__count > * {
    place-self: stretch;
}

.count-value {
    text-align: center;
    color: var(--Black);
    display: grid;
    place-items: center;
}

.commands__add {
    padding: .8rem;
    color: var(--White);
    background-color: var(--Orange);
    border: 0;
    border-radius: var(--radius);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.commands__add path {
    fill: var(--White);
}

.commands__add:focus,
.commands__add:hover {
    opacity: .7;
}


@media (min-width: 38.75em) {
    .menu {
        margin-right: auto;
        padding: 0;
        width: unset;
        position: static;
        display: initial;
    }

    .menu-btn {
        display: none;
    }

    .logo {
        margin-right: unset;
    }

    .close-menu {
        display: none;
    }

    .menu ul {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 1rem;
    }

    .menu li {
        padding: 0;
    }
}

@media (min-width: 50em) {
    .product {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .product-content {
        padding: 3.75rem 1.5rem 0;
    }

    .previus-btn,
    .next-btn {
        display: none;
    }

    .product-slide {
        padding-inline-start: 1.5rem;
    }

    .product-slide__showoff {
        height: 27rem;
        border-radius: 15px;
    }

    .product-slide__tiles {
        margin: 0;
        padding: 0;
        display: initial;
        /*background-color: slateblue;*/
        height: 5rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--space-2xs-m);
    }

    .tile {
        background-color: var(--Orange);
        border-radius: 12px;
        overflow: hidden;
    }

    .product-content__priceInfo {
        display: block;
    }

    .priceInfo__newPrice {
        display: inline-block;
    }

    .priceInfo__descount {
        display: inline-block;
    }

    .product-content__commands {
        grid-template-columns: 1fr 1.7fr;
    }
}